#scoreboard,#submissions {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #E0E0E0;
}

#scoreboard li,#submissions li {
  margin: 10px;
  padding: 5px;
}

#scoreboard {
  float: left;
}

#submissions {
  float: right;
}

#content {
  overflow: hidden;
}

.error {
  color: #D44;
}

body {
  font-family: sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

nav li {
  height: 20px;
  width: 23%;
  padding: 0.8%;
  border: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

nav ul {
  overflow: hidden;
  background-color: #E0E0E0;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

span.teamname {
  font-weight: bold;
}

span.submission_name {
  font-weight: bold;
}

span.score {
  float: right;
}

span.score-pass {
  float: right;
  color: green;
}

span.score-fail {
  float: right;
  color: red;
}

pre {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  background-color: #EEE;
}

.input_row label {
  display: inline-block;
  right-margin: 10px;
  padding: 5px;
  width: 130px;
}

.input_row .error {
  display: inline-block;
}

.input_row {
  overflow: hidden;
}
