<h1 align="center">Crash and Compile Grader</h1>
<h2 align="center">Log In</h2>

<% if @error %>
  <h3 class="error"><%= @error %></h3>
<% end %>

<form method="post" action="/login" enctype="multipart/form-data">
  <% form_for @login do |f| %>
    <%= f.input :name, :label => "Username" %>
    <%= f.input :pass, :label => "Password", :type => :password %>
    <%= f.submit :label => "Log In" %>
  <% end %>
</form>
