<h1 align="center">Crash and Compile Grader</h1>
<h2 align="center">Log In</h2>

<form method="post" action="/" enctype="multipart/form-data">
  <table align="center" border="0">
    <tr>
      <td align="right">Email</td>
      <td align="left"><input type="text" name="email"  size="40" maxlength="100" /></td>
    </tr>
    <tr>
      <td align="right">Password</td>
      <td align="left"><input type="password" name="password"  size="40" maxlength="100" /></td>
    </tr>
    <tr>
      <td></td>
      <td align="left"><input type="submit" name="Login" value="Login" /></td>
    </tr>
  </table>
</form>
