<ul>
  <li>Username: <%= Rack::Utils.escape_html(@user.name) %></li>
  <li>Email: <%= Rack::Utils.escape_html(@user.email) %></li>
  <li>ID: <%= Rack::Utils.escape_html(@user.id) %></li>
  <% if @user.team %>
    <li>Team Name: <%= Rack::Utils.escape_html(@user.team.name) %></li>
  <% else %>
    <li>Sorry, you are not on a team yet</li>
  <% end %>
</ul>
